@font-face {
   font-family: 'Amiri';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/DANANINI/OneDrive/Mobirise/Sabla/fonts/Amiri/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Amiri';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/DANANINI/OneDrive/Mobirise/Sabla/fonts/Amiri/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Amiri';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/DANANINI/OneDrive/Mobirise/Sabla/fonts/Amiri/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Amiri';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/DANANINI/OneDrive/Mobirise/Sabla/fonts/Amiri/700italic.ttf') format('truetype');
}
